<div id="routes-dropdown" class="relative inline-block text-left" hx-get="/routes/closed" hx-trigger="close-routes" hx-swap="outerHTML">
  <div>
    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md dark:bg-indigo-800 bg-white px-3 py-2 text-sm font-semibold dark:text-gray-300 text-gray-900 shadow-sm ring-1 ring-inset dark:ring-indigo-800 ring-gray-300 dark:hover:bg-indigo-600 hover:bg-gray-50 dark:bg-indigo-400" id="menu-button" aria-haspopup="true" hx-target="#routes-dropdown" hx-swap="outerHTML" {{#Open}}aria-expanded="true" hx-get="/routes/close"{{/Open}}{{^Open}}aria-expanded="false" hx-get="/routes/open"{{/Open}}>
      Routes
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  {{#Open}}
  <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-gray-200 dark:bg-slate-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" style="max-height:400px;z-index:2000;overflow:auto;" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" @click.outside="$dispatch('close-routes')">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      {{#Routes}}
      <a href="/{{Route}}" class="text-gray-300 block px-4 py-2 text-sm" role="menuitem">{{Route}}</a>
      {{/Routes}}
    </div>
  </div>
  {{/Open}}
</div>
