<tr id="data-{{Name}}" class="min-w-full">
  <td colspan="2" class="min-w-full p-4">
    <div class="overflow-hidden shadow ring-2 ring-black ring-opacity-5 sm:rounded-lg w-full">
      <table class="min-w-full divide-y divide-gray">
        <tbody class="divide-y divide-slate-900 bg-gray-100 dark:bg-slate-800">
          <tr>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300">Raw Log Downloads</td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/rlog">rlog</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/qlog">qlog</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
          </tr>
          <tr>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300">JSON Log Downloads</td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/logs/rlog/{{Name}}.json">rlog.json</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/logs/qlog/{{Name}}.json">qlog.json</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
          </tr>
          <tr>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300">GPX Downloads</td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/gpx/rlog/segment/{{Name}}.gpx">rlog.gpx</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/gpx/qlog/segment/{{Name}}.gpx">qlog.gpx</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"></td>
          </tr>
          <tr>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300">Video Downloads</td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/qcamera.ts">qcamera.ts</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/fcamera.hevc">fcamera.hevc</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/ecamera.hevc">ecamera.hevc</a></td>
            <td class="break-all px-3 py-4 text-slate-600 dark:text-gray-300"><a href="/download/{{Name}}/dcamera.hevc">dcamera.hevc</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
